
    .index{
        font-size: 8em;
        font-weight: 700;
        margin: 0;

        color: #FFFFFF;

        background: #fbf8ec;
        background: -moz-linear-gradient(top, #FFFFFF 35%, #39a90b 100%);
        background: -webkit-linear-gradient(top, #FFFFFF 35%,#39a90a 100%);
        background: linear-gradient(to bottom,#FFFFFF  35%, #59635586  100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    
    .alpha{
        font-size: 8em;
        font-weight: 700;
        margin: 0; 
         color: #FFFFFF;

        background: #fbf8ec;
        background: -moz-linear-gradient(top, #FFFFFF 35%, #39a90b 100%);
        background: -webkit-linear-gradient(top, #FFFFFF 35%,#39a90a 100%);
        background: linear-gradient(to bottom,#FFFFFF  35,rgba(1, 104, 23, 0.61) 80%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }