<div class="cd-section section-white" id="contact-us">



<!--     *********    CONTACT US 2     *********      -->

    <div class="contactus-2">
      
     <div class="big-map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>

        <div class="container">
            <div class="col-md-6">
                <div class="card card-contact card-raised">
                    <div class="card-header header-raised header-primary text-center">
                        <h4 class="card-title">Contacto</h4>
                    </div>
                    <form role="form" id="contact-form" action="mail.php" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="nc-icon nc-badge" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Nuestros Telefonos</h5>
                                            <p> Soporte<br>
                                                +54 3537 580214<br>
                                                Lun- Vier, 8:00-20:00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Nuestras Oficinas</h5>
                                            <p> Sargento Cabral 55<br>
                                                5152 - Villa Carlos Paz <br>
                                                Cordoba - Argentina
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Nombre y Apellido</label>
                                        <input type="text" name="name" class="form-control" placeholder="Nombre y Apellido">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Escriba su mensaje</label>
                                <textarea name="message" class="form-control" id="message" rows="6" placeholder="Mensaje"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked>
                                            No Soy un robot !
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-rose pull-right">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="separator"></div>
</div>

<footer class="footer footer-black footer-big">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center col-sm-3 col-12 ml-auto mr-auto">
                <h4>DesignMyEye</h4>
                <div class="social-area">
                    <a class="btn btn-just-icon btn-round btn-facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-just-icon btn-round btn-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-just-icon btn-round btn-google">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-12 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="#paper-kit">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Productos
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Servicios
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Soporte
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Asesoramiento Digital
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="#paper-kit">
                                        Trabajá con nosotros
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Contacto
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Acerca de
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="#paper-kit">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Clientes
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Proyectos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="stacked-links">
                                <li>
                                    <h4>13.723<br /> <small>Seguidores</small></h4>
                                </li>
                                <li>
                                    <h4>55.234<br /> <small>Descargas</small></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="copyright">
                    <div class="pull-left">
                        &copy; {{data | date: 'yyyy'}} DesignMyEye love in the Working
                    </div>
                    <div class="links pull-right">
                        <ul>
                            <li>
                                <a href="#paper-kit">
                                    Politica
                                </a>
                            </li>
                            |
                            <li>
                                <a href="#paper-kit">
                                    Terminos
                                </a>
                            </li>
                            |
                            <li>
                                <a href="#paper-kit">
                                    Privacidad
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>