<div class="cd-section section-white" id="pricing">

<!--     *********    PRICING 4     *********      -->
    <div class="pricing-4 section section-dark" style="background-image: url('../assets/img/nici10.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="title">El plan adecuado para su negocio</h2> 
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-pricing card-plain">
                        <div class="card-body">
                            <h6 class="card-category text-success">Startup</h6>
                            <h1 class="card-title">$</h1>
                            <ul class="text-white">
                                <li><i class="fa fa-check" aria-hidden="true"></i> 1 Sitio Web Responsive</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 2 GB Almacenamiento</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Contenido HTML5 CCS3 Multimedia</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i> Bases De Datos</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i> Asesoramiento Digital</li>
                            </ul>
                            <a href="#contact-us" class="btn btn-outline-neutral btn-round">Adquirir Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-pricing">
                        <div class="card-body">
                            <h6 class="card-category text-success">Pro</h6>
                            <h1 class="card-title">$</h1>
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 1 Sitio Web Responsive</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 4 GB Almacenamiento</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Contenido HTML5 CCS3 Multimedia</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Bases De Datos</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asesoramiento Digital</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i> E-Commerce</li>
                            </ul>
                            <a href="#contact-us" class="btn btn-outline-success btn-round">Adquirir plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-pricing card-plain">
                        <div class="card-body">
                            <h6 class="card-category text-success">Entreprise</h6>
                            <h1 class="card-title">$</h1>
                            <ul class="text-white">
                                <li><i class="fa fa-check" aria-hidden="true"></i> 1 Sitio Web Responsive</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 4 GB Almacenamiento</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Contenido HTML5 CCS3 Multimedia</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Bases De Datos</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asesoramiento Digital</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> E-Commerce</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i> Aplicacion Mobile Android</li>
                            </ul>
                            <a href="#contact-us" class="btn btn-outline-neutral btn-round">Adquirir plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-pricing card-plain">
                        <div class="card-body">
                            <h6 class="card-category text-success"> WebApp</h6>
                            <h1 class="card-title">$</h1>
                            <ul class="text-white">
                                <li><i class="fa fa-check" aria-hidden="true"></i> 1 Sitio Web Responsive</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 4 GB Almacenamiento</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Contenido HTML5 CCS3 Multimedia</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Bases De Datos</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asesoramiento Digital</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> E-Commerce</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Aplicacion Mobile Android</li>
                            </ul>
                            <a href="#contact-us" class="btn btn-outline-neutral btn-round">Adquirir plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
