<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/presentation']"><i class=" fa fa-eye heart nc-facebook nc-magnify"></i>DME</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-targeet="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Productos</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/sections']" ><i class="nc-icon nc-tile-56"></i>&nbsp;
                            Paginas Web</a>
                        <a class="dropdown-item" [routerLink]="['/components']" ><i class="nc-icon nc-settings"></i>&nbsp;
                            App Android</a>
                        <a class="dropdown-item" [routerLink]="['/components']" ><i class="nc-icon nc-bullet-list-67"></i>&nbsp;
                            Windows</a>
                        <a class="dropdown-item" [routerLink]="['/components']" ><i class="nc-icon nc-single-02"></i>&nbsp;
                            E-Commerce</a>
                        <a class="dropdown-item" [routerLink]="['/components']" ><i class="nc-icon nc-money-coins"></i>&nbsp;
                            Intranet</a>
                    </div>
                </div>
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Servicios</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/#']"><i class="nc-icon nc-bank"></i>&nbsp;
                            Marketing Digital</a>
                        <a class="dropdown-item" [routerLink]="['/#']"><i class="nc-icon nc-basket"></i>&nbsp;&nbsp;
                            Redes Sociales</a>
                        <a class="dropdown-item" [routerLink]="['/#']"><i class="nc-icon nc-badge"></i>&nbsp;
                            SEO</a>
                        <a class="dropdown-item" [routerLink]="['/#']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp;
                            SEM</a>
                        <a class="dropdown-item" [routerLink]="['/#']"><i class="nc-icon nc-credit-card"></i>&nbsp;DME
                            Analitycs</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="nav-link">Contacto</a>
                </li>
                <li class="nav-item">

                    <button type="button" class="btn btn-link btn-primary btn-success" style="color:blue !important" (click)="open(Register, '')">
                        Clientes DME
                    </button>
                    <ng-template #Register let-c="close" let-d="dismiss">
                        <div class="modal-header modal-register no-border-header text-center">
                            <button type="button" class="close" (click)="d('Cross click')">&times;</button>
                            <h6 class="text-muted">Bienvenido</h6>
                            <h3 class="modal-title" style="font-weight: 800">DME Clientes</h3>
                            <p>Cree su cuenta gratis y segura</p>
                        </div>
                        <div class="modal-body">
                            <button [routerLink]="['/examples/login']"  (click)="d('Cross click')" class="btn btn-block btn-round btn-success">Ya tengo cuenta</button>
                            <button [routerLink]="['/examples/create']" (click)="d('Cross click')"  class="btn btn-block btn-round btn-facebook">Conectarse con Facebook</button>
                            <button [routerLink]="['/examples/create']" (click)="d('Cross click')"  class="btn btn-block btn-round btn-twitter">Conectarse con Twitter</button>
                            <button [routerLink]="['/examples/create']"  (click)="d('Cross click')" type="button" class="btn btn-info btn-round btn-block btn-default"> Ingresar con mi E-mail</button>
                        </div>
                        <div class="modal-footer no-border-footer"><br><br><br></div>
                    </ng-template> 
                </li>  
                <li class="nav-item">
                    <a class="btn btn-facebook btn-border btn-magnify" style="color:blue !important">
                        <i [routerLink]="['/examples/login']"  class="nc-icon nc-cart-simple"></i> Adquirir servicio
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>