<div class="cd-section section-white" id="features">
        <div class="features-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Why our product is the best</h2>
                            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-palette"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Beautiful Gallery</h4>
                                    <p class="description">Una empresa siempre tiene la oportunidad de diferenciarse del resto de la competencia a través de su propio sitio web. Esto sucede principalmente en el diseño y el contenido de la presencia en línea. En comparación con las redes sociales, el sitio web corporativo ofrece mucho más margen de maniobra. Además, nunca se debe olvidar que su propio sitio web siempre es un lugar para vender. Este papel no puede ser asumido en su totalidad por las redes sociales , de acuerdo a los siguientes motivos: estafas, incumplir las normas de uso, suplantación de identidad, ciberbullying y grooming, trolls y malas críticas, inversión de tiempo y dinero.
                                        La redes sociales junto con un sitio web corporativo, para las empresas pueden ganar autoridad. La comunidad integrada ofrece un valor agregado significativo para una empresa. Las redes sociales deberían usarse principalmente para la captación de nuevos clientes. El objetivo debe ser, sin embargo, integrar a los nuevos clientes en la comunidad con boletines o suscriptores de blogs. El propio sitio web para empresas sigue siendo la herramienta más vendida. A través de ellos, las empresas pueden dirigirse personalmente a los clientes. Además, es un lugar importante para responder a las preguntas de los clientes.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-bulb-63"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">New Ideas</h4>
                                    <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Statistics</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-sun-fog-29"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Delightful design</h4>
                                    <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    <footer class="footer footer-black">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a [routerLink]="['/#']">DME</a></li>
                            <li><a [routerLink]="['/sections']">Productos</a></li>
                            <li><a [routerLink]="['/sections']">Servicios</a></li>
                            <li><a [routerLink]="['/examples/register']">Registrarme</a></li>
                            <li><a [routerLink]="['/components']">Contacto</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            © {{data | date: 'yyyy'}}, Powered <i class="fa fa-eye heart"></i> by DME Team
                        </span>
                    </div>
                </div>
            </div>
        </footer>
   
</div>
