<div class="cd-section section-white" id="projects">

    <!--     *********    PROJECTS 4     *********      -->

    <div class="project-4 section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                        <i class="fa fa-2x-heart heart"></i>  
                    <h2 class="title">Su Sitio web es el corazon de su empresa en internet </h2>
                    <h5 class="description">   
                            Las redes sociales pueden cambiar cuantas veces quieran sus términos y condiciones..</h5>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/222.jpg')"> 
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card card-plain">
                        <div class="card-body" >
                            <h6 class="card-category"style="color:black; font: size 12px;">La importancia mas allá de las redes</h6>
                            <a style="color:black">
                                <br/>
                                <a class="card-title">Todo lo que construyen alrededor de su cuenta en Twitter (“followers”) y fan pages de Facebook (“me gusta”) NO pertenece a usted cliente, pertenece a las redes sociales</a>
                            </a>
                            <a style="color:black">
                                    
                                Las redes sociales pueden cambiar cuantas veces quieran sus términos y condiciones. El uso de todas las redes sociales está sujeto a sus propios términos y condiciones  los cuales son unilateralmente creados y cambiados a discreción por los directivos y/o consejos de estas empresas.  <strong>Lo que hoy es “gratis”, puede que mañana no lo sea, lo que hoy les convenga, tal vez mañana no</strong>.
                            </a> 
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-link btn-neutral">
                                    <i class="fa fa-book" aria-hidden="true"></i> Más
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-apple" aria-hidden="true"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-android" aria-hidden="true"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-windows" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <br /><hr /><br />
            <div class="project-4 section-white">
                    <div class="container"> 
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <h6 class="card-category">¿Que Hacer con las redes Sociales?
                                </h6>
                            <a href="#pablo">
                                <h3 class="card-title"> </h3>
                            </a>
                            <p class="card-description">Una empresa siempre tiene la oportunidad de diferenciarse del resto de la competencia a través de su propio sitio web. Esto sucede principalmente en el diseño y el contenido de la presencia en línea. En comparación con las redes sociales, el sitio web corporativo ofrece mucho más margen de maniobra. Además, nunca se debe olvidar que su propio sitio web siempre es un lugar para vender. Este papel no puede ser asumido en su totalidad por las redes sociales , de acuerdo a los siguientes motivos: estafas, incumplir las normas de uso, suplantación de identidad, ciberbullying y grooming, trolls y malas críticas, inversión de tiempo y dinero.
                                    La redes sociales junto con un sitio web corporativo, para las empresas pueden ganar autoridad. La comunidad integrada ofrece un valor agregado significativo para una empresa. Las redes sociales deberían usarse principalmente para la captación de nuevos clientes. El objetivo debe ser, sin embargo, integrar a los nuevos clientes en la comunidad con boletines o suscriptores de blogs. El propio sitio web para empresas sigue siendo la herramienta más vendida. A través de ellos, las empresas pueden dirigirse personalmente a los clientes. Además, es un lugar importante para responder a las preguntas de los clientes.</p>

                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-link btn-neutral">
                                    <i class="fa fa-book" aria-hidden="true"></i> Leer Más
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-apple" aria-hidden="true"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-android" aria-hidden="true"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-windows" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/web2.png')">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
