<app-headers></app-headers>
<app-projects></app-projects> 
<app-contacts></app-contacts>

<nav id="cd-vertical-nav">
    <ul>
        <li>
            <a data-number="1" (click)="smoothScroll('headers')">
                <span class="cd-dot"></span>
                <span class="cd-label">Inicio</span>
            </a>
        </li>
        <li>
            <a data-number="6" (click)="smoothScroll('pricing')">
                <span class="cd-dot"></span>
                <span class="cd-label">Planes</span>
            </a>
        </li>
        <li>
            <a data-number="6" (click)="smoothScroll('projects')">
                <span class="cd-dot"></span>
                <span class="cd-label">Planes</span>
            </a>
        </li>
        <li>
            <a data-number="8" (click)="smoothScroll('areadescription')">
                <span class="cd-dot"></span>
                <span class="cd-label">Servicios</span>
            </a>
        </li>
        <li>
            <a data-number="8" (click)="smoothScroll('contact-us')">
                <span class="cd-dot"></span>
                <span class="cd-label">Contacto</span>
            </a>
        </li>
    </ul>
</nav>
